header {
  background-color: #FFFFFF;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.logo {
  background-image: url("../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  width: 100%;
  height: 70px;
  margin-left: 20px;
  vertical-align: auto;
}
